/qutebrowser/.config/qutebrowser/*
!/qutebrowser/.config/qutebrowser/keys.conf
!/qutebrowser/.config/qutebrowser/qutebrowser.conf
/emacs/.emacs.d/*\~
/emacs/.emacs.d/settings.el
!/.gitignore
/emacs/.emacs.d/settings.old.org
/emacs/.emacs.d/#init.el#
