! General settings

! Xft settings
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hintingp: true
Xft.hintstyle: hintslight

! Tomorrow night bright
*foreground:   #eaeaea
*background:   #000000
*cursorColor:  #aeafad
*color0:       #000000
*color1:       #912226
*color2:       #778900
*color3:       #ae7b00
*color4:       #1d2594
*color5:       #682a9b
*color6:       #2b6651
*color7:       #929593
*color8:       #666666
*color9:       #cc6666
*color10:      #b5bd68
*color11:      #f0c674
*color12:      #81a2be
*color13:      #b294bb
*color14:      #8abeb7
*color15:      #ecebec

! URxvt settings
URxvt*.internalBorder:   10

URxvt.scrollBar: false

URxvt.font: xft:Meslo LG M DZ:pixelsize=13:style=Regular
URxvt.boldFont: xft:Meslo LG M DZ:pixelsize=13:style=Bold
URxvt.italicFont: xft:Meslo LG M DZ:pixelsize=13:style=Italic
URxvt.boldItalicFont: xft:Meslo LG M DZ:pixelsize=13:style=Bold Italic

URxvt.letterSpace: -1

rofi.modi:                           drun,run,ssh,pass:rofi-pass.sh
rofi.terminal:                       urxvtc
rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
rofi.run-command:                    {cmd}
rofi.run-shell-command:              {terminal} -e {cmd}
rofi.disable-history:                false
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.cycle:                          true
rofi.sidebar-mode:                   false
rofi.eh:                             1
rofi.auto-select:                    false
rofi.parse-hosts:                    false
rofi.parse-known-hosts:              true
rofi.combi-modi:                     window,drun
rofi.matching:                       fuzzy
rofi.tokenize:                       true
rofi.m:                              -5
! rofi.filter:                         
! "Separator style (none, dash, solid)" Set from: Default
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
! rofi.dpi:                            -1
rofi.click-to-exit:                  true
 rofi.kb-custom-1:                    Alt+1
 rofi.kb-custom-2:                    Alt+2
 rofi.kb-custom-3:                    Alt+3
 rofi.kb-custom-4:                    Alt+4
 rofi.kb-custom-5:                    Alt+5
 rofi.kb-custom-6:                    Alt+6
 rofi.kb-custom-7:                    Alt+7
 rofi.kb-custom-8:                    Alt+8
 rofi.kb-custom-9:                    Alt+9
 rofi.kb-custom-10:                   Alt+0
 rofi.kb-custom-11:                   Alt+Shift+1
 rofi.kb-custom-12:                   Alt+Shift+2
 rofi.kb-custom-13:                   Alt+Shift+3
 rofi.kb-custom-14:                   Alt+Shift+4
 rofi.kb-custom-15:                   Alt+Shift+5
 rofi.kb-custom-16:                   Alt+Shift+6
 rofi.kb-custom-17:                   Alt+Shift+7
 rofi.kb-custom-18:                   Alt+Shift+8
 rofi.kb-custom-19:                   Alt+Shift+9
rofi.display-ssh:                    Ssh
rofi.display-run:                    Run
rofi.display-drun:                   Launch
rofi.display-combi:                   Combi
rofi.display-pass:                    Pass

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Has been moved to the all new $HOME/Documents/Scripts/Rofi/Themes folder
