! General settings

! Xft settings
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim
! vim: ft=xdefaults

*background: #363B45
*foreground: #C5C8C6
! black
*color8: #65737E
*color0: #363B45
! red
*color9: #A54242
*color1: #CC6666
! green
*color10: #8C9440
*color2: #B5BD68
! yellow
*color11: #DE935F
*color3: #F0C674
! blue
*color12: #5F819D
*color4: #81A2BE
! magenta
*color13: #85678F
*color5: #B294BB
! cyan
*color14: #5E8D87
*color6: #8ABEB7
! white
*color15: #707880
*color7: #C5C8C6

! URxvt settings
URxvt.scrollBar: false
URxvt.font: xft:Anonymous Pro for Powerline:pixelsize=17, \
            xft:DejaVu Sans Mono for Powerline:size=11
!            xft:Icons:size=9

URxvt.boldFont: xft:Anonymous Pro for Powerline:bold:pixelsize=17, \
            xft:DejaVu Sans Mono for Powerline:bold:size=11
!            xft:Icons:size=9
! URxvt.letterSpace: -1
